VITE_APP_ENV=development
VITE_API_URL_AUTH=https://auth-api.example.com/
VITE_API_URL_MRP=https://mrp-api.example.com/
VITE_API_URL_CONSULTS=https://integrator-api.example.com/
VITE_DESKTOP_APP_DOWNLOAD_URL=https://downloads.example.com/windows/MRP-Consultar-Setup.exe
