VITE_API_URL_BASE="https://apiauth-hkcbffd9emhafhej.brazilsouth-01.azurewebsites.net/"
VITE_API_URL_MRP="https://mrpapi-fyedceapdygwbhhk.brazilsouth-01.azurewebsites.net/"
VITE_API_URL_CONSULTS="https://integratorapi-ebhhf0bydsacc7et.brazilsouth-01.azurewebsites.net/"
VITE_DESKTOP_APP_DOWNLOAD_URL="https://mrpdownloads.z15.web.core.windows.net/windows/MRP-Setup.exe"
